:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #bdb7b73b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition: color 0.3s ease;
}
a:hover {
  color: #9da0e3;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.bubble-card button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 2px;
}
.bubble-card button:hover:enabled {
  border-color: #646cff;
}
.bubble-card button:focus,
.bubble-card button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.bubble-card button.selected {
  background-color: #646cff;
  color: #fff;
}
.bubble-card input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  transition: border-color 0.25s;
}

.bubble-card button.field-send-button {
  opacity: 1;
  transition: opacity 1s, transform 1s;
}
.bubble-card button.field-send-button:disabled {
  opacity: 0;
  transform: translateX(300px);
}


.bubble-card input.valid {
  border-color: #2ac71e;
}
.bubble-card input.invalid {
  border-color: #ff0000;
}

.bubble-card input:hover:enabled {
  border-color: #646cff;
}

.bubble-container {
  width: 60vb;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  align-items: left;
  gap: 15px;
  height: 100vh;
  overflow-y: auto;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #242424;

}

.bubble-card {
  justify-content: space-between;
  align-items: left;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  opacity: 0%;
  transform: scale(0);
  animation-fill-mode: forwards;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #464444ae;
  border: 1px transparent #646cff;
  padding-left: 10px;
  padding-right: 10px;
}

.bubble-entering {
  animation: bubbleIn 0.6s ease forwards;
}

.bubble-card pre {
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
  text-wrap: wrap;
  overflow-y: auto;
}

@keyframes bubbleIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
